@import 'grid';
@import 'normalize';

$rowColor: #192532;
@mixin FlexPosition($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #22303f;
    font-family: 'Roboto', sans-serif;
}

.users {
    padding-top: 50px;
    &__container {
        margin: 0 auto;
        max-width: 640px;
        max-height: 350px;
        position: relative;
        // margin-top: 15px;
        border-radius: 4px;
        border-top: 3.5px solid $rowColor;
        border-bottom: 3.5px solid $rowColor;
        padding: 2px 0 3px 0;
    }
    & .label {
        margin: 0 auto;
        max-width: 640px;
        @extend .grid-row;
        padding: 0 25px;    
        &__text {
            color: #829ac2;
            margin-bottom: 15px; 
            font-size: 15px; 
            font-weight: bold;    
        }
        &__name {
            @extend .col-9;
            padding-left: 8px;
        }
        &__age{
            @extend .col-6;
            padding-left: 40px;
        }
        &__zodiac {
            @extend .col-8;
            padding-left: 40px;
        }
        &__action {
            @extend .col-1;
        }
       
   
    }

}

.user {
    @extend .grid-row;
    background: $rowColor;
    padding-left: 12px;
    padding-right: 12px;
    &__name {
        text-align: left;
        padding-right: 0;
        @extend .col-9;
    }
    &__age {
        text-align: left;
        @extend .col-6;
    }
    &__zodiac {
        text-align: left;
        @extend .col-8;
    }
    & .action {
        @extend .col-1;
        padding-right: 8px;
        padding-left: 8px;
        @include FlexPosition(center,center);
        &__button {
            background-color: transparent;
            border: none;
            color: #873037;
            width: 13px;
            
            
        }
        // & .fa-trash{
        //     position: relative;
        //     right: 5px;
        // }
        &__text {
            font-size: 12px;
            position: relative;
            right: 1.5px;
            margin-top: 1px;
            display: none;
            font-weight: bold;
            color: #fff;
            
        }
    }
    &__action,
    &__name,
    &__zodiac,
    &__age {
        margin-left: 0;
        padding: 0 15px;
        line-height: 40px;
        background: $rowColor;
        color: darken(#fff, 25%);
        height: 40px;
        border-bottom: 1px solid darken($rowColor, 2%);
        font-size: 14px;
        font-weight: bold;
    }
    & p {
        margin: 0;
    }
    &:hover,
    &.hovering {
        width: 651px;
        transform: translateX(-11px);
        padding: 0; // z-index: -1000;
        & .action,
        & .user__name,
        & .user__zodiac,
        & .user__age {
            background-color: #405a74;
            padding-left: 38px;
        }
        & .user__name {
            padding-left: 30px;
        }
        & .user__age {
            padding-left: 44px;
        }
        & .user__zodiac {
            padding-left: 39px;
            flex: 7;
        }
        & .action {
            padding: 0 18px;
            flex: 3.3;
            background-color: #f43b3b;
            border-right: none;
            &__button {
                // margin-left: 4px;
                color: #fff;
                cursor: pointer;
                
               
            }
            &__text {
                display: inline;
                
            }
        }
    }
    &.remove {
        @extend .user:hover;
        width: 103.5%;
        & .action,
        & .user__name,
        & .user__zodiac,
        & .user__age {
            background-color: #4e607c;
        }
        & .user__age,
        & .user__zodiac {
            padding-left: 33px;
        }
        & .action {
            &__button,
            &__text {
                display: none;
            }
        }
        &.remove-animation {
            position: absolute;
            animation-name: removingAnim;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-delay: .2s;
        }
    }
    .modal {
        @extend .grid-row;
        position: absolute;
        background-color: #2d4053;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 92.5%;
        height: 30px;
        border-radius: 0 0 4px 4px;
        display: none;
        &.active {
            display: flex;
        }
        &__text {
            @extend .col-20;
            line-height: 30px;
            padding-left: 10px;
            color: darken(#fff, 25%);
            font-size: 12px;
            font-weight: bold;
        }
        &__button {
            @extend .col-2;
            background-color: transparent;
            border: none;
            border-left: 1px solid darken($rowColor, 2%);
            color: darken(#fff, 25%);
            font-size: 12px;
            font-weight: bold;
            padding: 0 14px;
            &:hover {
                background-color:lighten(#2d4053,5%);
                cursor: pointer;
            }
            &--confirm {
                background-color: #367237;
                border-bottom-right-radius: 4px;
                &:hover {
                    background-color:lighten(#367237,5%);
                }
            }

        }
    }
    &:last-child {
        & [class*="user__"] {
            border-bottom: none;;
        }
    }
 
}

@keyframes removingAnim {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
        transform: translateY(0) scale(1.1);
    }
    30% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    60% {
        opacity: 0;
        transform: translateY(300px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(300px) scale(1);
    }
}