.grid-row, .users .label, .user, .user .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  @media (min-width: 521px) {
    .grid-row, .users .label, .user, .user .modal {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }

.col-1, .users .label__action, .user .action {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5; }

.col-2, .user .modal__button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.col-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.col-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.col-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5; }

.col-6, .users .label__age, .user__age {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6; }

.col-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7; }

.col-8, .users .label__zodiac, .user__zodiac {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8; }

.col-9, .users .label__name, .user__name {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9; }

.col-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10; }

.col-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11; }

.col-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12; }

.col-13 {
  -webkit-box-flex: 13;
      -ms-flex: 13;
          flex: 13; }

.col-14 {
  -webkit-box-flex: 14;
      -ms-flex: 14;
          flex: 14; }

.col-15 {
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15; }

.col-16 {
  -webkit-box-flex: 16;
      -ms-flex: 16;
          flex: 16; }

.col-17 {
  -webkit-box-flex: 17;
      -ms-flex: 17;
          flex: 17; }

.col-18 {
  -webkit-box-flex: 18;
      -ms-flex: 18;
          flex: 18; }

.col-19 {
  -webkit-box-flex: 19;
      -ms-flex: 19;
          flex: 19; }

.col-20, .user .modal__text {
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20; }

.col-21 {
  -webkit-box-flex: 21;
      -ms-flex: 21;
          flex: 21; }

.col-22 {
  -webkit-box-flex: 22;
      -ms-flex: 22;
          flex: 22; }

.col-23 {
  -webkit-box-flex: 13;
      -ms-flex: 13;
          flex: 13; }

.col-24 {
  -webkit-box-flex: 24;
      -ms-flex: 24;
          flex: 24; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #22303f;
  font-family: 'Roboto', sans-serif; }

.users {
  padding: 50px 20px; }
  .users__container {
    margin: 0 auto;
    max-width: 640px;
    position: relative;
    border-radius: 4px;
    border-top: 3.5px solid #192532;
    border-bottom: 3.5px solid #192532;
    padding: 2px 0 3px 0; }
  .users .label {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 25px; }
    .users .label__text {
      color: #8aadce;
      margin-bottom: 15px;
      font-size: 16px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      font-weight: 500; }
    .users .label__age {
      padding-left: 40px; }
    .users .label__zodiac {
      padding-left: 40px; }
    @media only screen and (max-width: 520px) {
      .users .label {
        position: absolute;
        top: -9999px;
        left: -9999px; } }

.user {
  background: #192532;
  padding: 0 12px; }
  @media only screen and (max-width: 520px) {
    .user:nth-child(odd):not(:hover):not(:remove) {
      background-color: #16202b; }
      .user:nth-child(odd):not(:hover):not(:remove) [class*="user__"]:not(:last-child) {
        background-color: #16202b;
        border-bottom-color: #1c2a39; } }
  .user .action, .user__name, .user__zodiac, .user__age {
    margin-left: 0;
    padding: 0 15px;
    line-height: 40px;
    background: #192532;
    color: #d1d1d1;
    height: 40px;
    border-bottom: 1px solid #16202b;
    font-size: 14px;
    font-weight: 500; }
    @media only screen and (max-width: 589px) {
      .user .action, .user__name, .user__zodiac, .user__age {
        font-size: 12px;
        padding: 0 10px; } }
    @media only screen and (max-width: 520px) {
      .user .action, .user__name, .user__zodiac, .user__age {
        font-size: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .user .action:before, .user__name:before, .user__zodiac:before, .user__age:before {
          color: #8aadce; } }
  .user__name {
    text-align: left; }
    @media only screen and (max-width: 520px) {
      .user__name:before {
        content: "Name:"; } }
  .user__age {
    text-align: left; }
    @media only screen and (max-width: 520px) {
      .user__age:before {
        content: "Age:"; } }
  .user__zodiac {
    text-align: left; }
    @media only screen and (max-width: 520px) {
      .user__zodiac:before {
        content: "Zodiac:"; } }
  .user .action {
    padding-right: 8px;
    padding-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user .action__button {
      background-color: transparent;
      border: none;
      color: #873037;
      width: 13px; }
      .user .action__button:focus {
        outline: none;
        color: #dfa4a9; }
    .user .action__text {
      font-size: 12px;
      position: relative;
      right: 1.5px;
      margin-top: 1px;
      display: none;
      font-weight: bold;
      color: #fff; }
      @media only screen and (max-width: 520px) {
        .user .action__text {
          display: inline; } }
  .user p {
    margin: 0; }
  .user:hover, .user.remove, .user.hovering {
    width: calc(102% - 1px);
    -webkit-transform: translateX(-1.68%);
            transform: translateX(-1.68%);
    padding: 0; }
    .user:hover .action, .user.remove .action,
    .user:hover .user__name,
    .user.remove .user__name,
    .user:hover .user__zodiac,
    .user.remove .user__zodiac,
    .user:hover .user__age,
    .user.remove .user__age, .user.hovering .action,
    .user.hovering .user__name,
    .user.hovering .user__zodiac,
    .user.hovering .user__age {
      background-color: #405a74;
      padding-left: 38px; }
    
    .user:hover .user__name,
    .user.remove .user__name, .user.hovering .user__name {
      padding-left: 30px; }
    
    .user:hover .user__age,
    .user.remove .user__age, .user.hovering .user__age {
      padding-left: 44px; }
    
    .user:hover .user__zodiac,
    .user.remove .user__zodiac, .user.hovering .user__zodiac {
      padding-left: 39px;
      -webkit-box-flex: 7;
          -ms-flex: 7;
              flex: 7; }
    .user:hover .action, .user.remove .action, .user.hovering .action {
      padding: 0 18px;
      -webkit-box-flex: 3.3;
          -ms-flex: 3.3;
              flex: 3.3;
      background-color: #f43b3b;
      border-right: none; }
      .user:hover .action__button, .user.remove .action__button, .user.hovering .action__button {
        color: #fff;
        cursor: pointer; }
      .user:hover .action__text, .user.remove .action__text, .user.hovering .action__text {
        display: inline; }
      @media only screen and (max-width: 520px) {
        .user:hover .action, .user.remove .action, .user.hovering .action {
          border-bottom: none; } }
    @media only screen and (max-width: 520px) {
      .user:hover .action, .user.remove .action,
      .user:hover .user__name,
      .user.remove .user__name,
      .user:hover .user__zodiac,
      .user.remove .user__zodiac,
      .user:hover .user__age,
      .user.remove .user__age, .user.hovering .action,
      .user.hovering .user__name,
      .user.hovering .user__zodiac,
      .user.hovering .user__age {
        border-bottom-color: #3c556d;
        padding: 0 15px; } }
  .user.remove {
    width: 103.5%; }
    .user.remove .action,
    .user.remove .user__name,
    .user.remove .user__zodiac,
    .user.remove .user__age {
      background-color: #4e607c; }
    .user.remove .user__age,
    .user.remove .user__zodiac {
      padding-left: 33px; }
      @media only screen and (max-width: 520px) {
        .user.remove .user__age,
        .user.remove .user__zodiac {
          padding-left: 15px; } }
    .user.remove .action__button, .user.remove .action__text {
      display: none; }
    @media only screen and (max-width: 520px) {
      .user.remove .action {
        display: none; } }
    .user.remove.remove-animation {
      position: absolute;
      z-index: 10000;
      -webkit-animation-name: removingAnim;
              animation-name: removingAnim;
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: .2s;
              animation-delay: .2s; }
  .user .modal {
    position: absolute;
    z-index: 99999;
    background-color: #2d4053;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1000;
    width: 92.5%;
    height: 30px;
    border-radius: 0 0 4px 4px;
    display: none; }
    @media (max-width: 327px) {
      .user .modal {
        height: 40px;
        bottom: -40px; } }
    .user .modal.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .user .modal__text {
      line-height: 30px;
      padding-left: 10px;
      color: #bfbfbf;
      font-size: 12px;
      font-weight: bold; }
      @media (max-width: 520px) {
        .user .modal__text {
          -webkit-box-flex: 22;
              -ms-flex: 22;
                  flex: 22; } }
      @media (max-width: 403px) {
        .user .modal__text {
          font-size: 11px; } }
      @media (max-width: 327px) {
        .user .modal__text {
          height: 40px; }
          .user .modal__text p {
            line-height: 15px;
            margin-top: 5px; } }
    .user .modal__button {
      background-color: transparent;
      border: none;
      border-left: 1px solid #16202b;
      color: #bfbfbf;
      font-size: 12px;
      font-weight: bold;
      padding: 0 14px; }
      @media (max-width: 520px) {
        .user .modal__button {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; } }
      @media (max-width: 403px) {
        .user .modal__button {
          padding: 0 5px;
          font-size: 11px; } }
      .user .modal__button:hover {
        background-color: #364d64;
        cursor: pointer; }
      .user .modal__button--confirm {
        background-color: #367237;
        border-bottom-right-radius: 4px; }
        .user .modal__button--confirm:hover {
          background-color: #3e833f; }
    @media (max-width: 520px) {
      .user .modal {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap; } }
  @media only screen and (min-width: 520px) {
    .user:last-child [class*="user__"] {
      border-bottom: none; } }

@-webkit-keyframes removingAnim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1.1);
            transform: translateY(0) scale(1.1); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1); } }

@keyframes removingAnim {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1.1);
            transform: translateY(0) scale(1.1); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1); } }
